<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <title>Title</title>
</head>
<body>

<div class="container">
    <div clas="py-5 text-center">
        <h1>환율계산</h1>
    </div>
    <form>
        <div>송금국가 : 미국(USD)
            <input type="hidden" id="source" value="USD">
        </div>
        <div>수취국가 :
            <select id="exchangeFor" onchange="getExchangeRate()">
                <option th:each="currency : ${currencyList}" th:value="${currency.name()}" th:text="|${currency.description}(${currency.name()})|"></option>
            </select>
        </div>
        <div id="exchangeRate">환율 : </div>
        <div>송금액 : <input type="number" id="amount" />USD</div>

        <div class="row">
            <div class="col">
                <button type="button" class="w-100 btn btn-primary btn-lg" onclick="getExchangeCalculate()">환율 계산</button>
            </div>
        </div>

        <div>
            <p id="calculatedAmount"></p>
        </div>
    </form>
</div>

<script>
    $(function(){
        getExchangeRate();
    });
    function getExchangeRate() {
        $.ajax({
            type: 'post',
            url: '/exchange/getExchangeRate.json',
            data: {'source':$('#source').val(), 'exchangeFor':$('#exchangeFor').val()},
            success: function(data){
                var result = data.result;
                $('#exchangeRate').html('환율 : '+result);
            },
            error : function(){
                alert('환율 정보를 불러올 수 없습니다.');
            }
        });
    }

    function getExchangeCalculate() {
        $.ajax({
            type: 'post',
            url: '/exchange/calculator.json',
            data: {'source':$('#source').val(), 'exchangeFor':$('#exchangeFor').val(), 'amount':$('#amount').val()},
            success: function(data){
                $('#calculatedAmount').html('수취금액은 ' + data.result + ' ' + data.exchangeFor + ' 입니다.');
            },
            error : function(){
                alert('환율 정보를 불러올 수 없습니다.');
            }
        });
    }
</script>

</body>
</html>